<div class="complete">
  <h2 class="unsubscribe_title">退会が完了致しました</h2>
  <p class="unsubscribe_messege">また機会が御座いましたらご登録、ご利用頂ければ幸いです。</p>
  <p class="unsubscribe_messege">ご愛顧頂き、誠にありがとうございました。</p>
  </br>
  <div>
    <%= link_to "Golg hubホームへ", root_path, class:"btn btn-default" %>
  </div>
</div>