/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import url('https://fonts.googleapis.com/css?family=Corben:700');

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body{
  height: 100%;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -80px;
}

.footer, .push {
  height: 80px;
}

.footer{
  background-color: #f4f0e6;
}

// ヘッダー
.navbar-default{
  background-color: #E6FFE9;
}
.navbar-header{
  font-family: 'Corben', cursive;
  color: #fff;
  text-shadow: 1px 1px 1px #555, -1px 1px 1px #555, 1px -1px 1px #555, -1px -1px 1px #555, 1px 1px 1px #555, -1px 1px 1px #555, 1px -1px 1px #555, -1px -1px 1px #555, 5px 5px #9ccc65;
  transform: rotate(-2deg);
}

.navbar-brand{
  font-size: 3em;
}

// サイドバー
#sidebar{
  background-color: #f4f0e6;
  border-radius: 10px;
  border: solid thin;
}

.mymenu-title{
  font-size: 2rem;
}

.mymenu-item{
  padding-bottom: 5px;
}
/* 見出し　全ページ共通 */
.heading{
  position: relative;
  padding: 0.5em;
  background: #a6d3c8;
  color: white;
  margin-bottom: 30px;
}

.heading::before {
  position: absolute;
  content: '';
  top: 100%;
  left: 0;
  border: none;
  border-bottom: solid 15px transparent;
  border-right: solid 20px rgb(149, 158, 155);
}

