// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.pf-area{
  margin: 2em auto;
  padding: 1em;
  width: 90%;
  color: #555555; /* 文字色 */
  background-color: #badcad; /* 背景色 */
  box-shadow: 0 0 10px 10px #badcad; /* 影 */
}

.user-intro{
  display: inlineblock;
  border-bottom: 1px solid;
}
